<!DOCTYPE html>
<html>
<head>
  <title>Bbetplus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><a href="/#">Etracker</a></div>
      <a href="#" class="item">Dashboard</a>
      <a href="#/orders" class="item active">Orders</a>
      <a href="#/shipments" class="item">Shipments</a>
      <a href="#" class="item">Products</a>
      <a href="#" class="item">Imports</a>
      <a href="#" class="item">Tools</a>
    </div>
  </div>

<%= yield %>

</body>
</html>
